.mainnav {
    display: none;
}
#body-container {
    position: relative;
    margin-top: 110px;
}

@media (min-width: 992px) {
    #body-container {
        margin-top: 160px;
    }
    body > header {
        box-shadow: none !important;
    }
}


/* ----- Radio Live listen side widget ----- */

.animate-bars {
    display: flex;
    align-items: center;
    width: 200px;
    height: 70px;
    overflow: hidden;
    background-color: transphrant;
    padding: 0px 10px;
}

.animate-bars div {
    border-radius: 5px;
    flex: 1 0 auto;
    height: 100%;
    margin: 0 4px;
    background-color: rgba(255, 255, 255, 0.8);
    animation: animate-bar 1700ms linear infinite alternate;
    transform-origin: bottom;
    opacity: 0;
}

.radio-bars {
    position: relative;
    overflow: visible;
}

.radio-CKRM.radio-bars::after {
    content: "Listen Live To 620 CKRM";
    background-color: #003361;
    color: white;
}

.radio-CFWF.radio-bars::after {
    content: "LISTEN LIVE TO THE WOLF 104.9";
    background-color: #a8872f;
    color: white;
}

.radio-CHMX.radio-bars::after {
    content: "listen live to play92";
    background-color: #931578;
    color: white;
    text-transform: lowercase !important;
}

.radio-CFWD.radio-bars::after {
    content: "LISTEN LIVE TO 96.3 CRUZ FM";
    background-color: #ed2e3a;
    color: white;
}

.radio-CJGX.radio-bars::after {
    content: "LISTEN LIVE TO GX94";
    background-color: #ed1c24;
    color: white;
}

.radio-CFGW.radio-bars::after {
    content: "LISTEN LIVE TO CRUZ YORKTON";
    background-color: #ed2e3a;
    color: white;
}

.radio-bars::after {
    font-family: "Source Sans 3", sans-serif !important;
    display: inline-block;
    position: absolute;
    width: 100%;
    padding: 2px 5px 1px 5px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    margin: 0px auto 0 -10px;
    text-transform: uppercase;
}

/* 0 Radio Live listen block CSS  */
#now-playing-widget {
    display: flex;
    align-items: center;
    background: #111;
    color: #fff;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    max-width: 320px;
}

#now-playing-widget .artwork img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border-radius: 0px;
    margin-right: 10px;
}

#radio-live-listen-block a {
    text-decoration: none;
}

#radio-live-listen-block {
    margin: 0px auto 10px auto;
    display: inline-block;
}

.animate-bars div:first-child {
    margin-left: 0;
}

.animate-bars div:last-child {
    margin-right: 0;
}

.animate-bars div:nth-child(1) {
    animation-duration: 888ms;
    animation-delay: 357ms;
}

.animate-bars div:nth-child(2) {
    animation-duration: 932ms;
    animation-delay: 233ms;
}

.animate-bars div:nth-child(3) {
    animation-duration: 976ms;
    animation-delay: 28ms;
}

.animate-bars div:nth-child(4) {
    animation-duration: 716ms;
    animation-delay: 366ms;
}

.animate-bars div:nth-child(5) {
    animation-duration: 752ms;
    animation-delay: 163ms;
}

.animate-bars div:nth-child(6) {
    animation-duration: 856ms;
    animation-delay: 298ms;
}

.animate-bars div:nth-child(7) {
    animation-duration: 756ms;
    animation-delay: 498ms;
}

.animate-bars div:nth-child(8) {
    animation-duration: 815ms;
    animation-delay: 329ms;
}

.animate-bars div:nth-child(9) {
    animation-duration: 593ms;
    animation-delay: 171ms;
}

.animate-bars div:nth-child(10) {
    animation-duration: 601ms;
    animation-delay: 42ms;
}

.animate-bars div:nth-child(11) {
    animation-duration: 807ms;
    animation-delay: 106ms;
}

.animate-bars div:nth-child(12) {
    animation-duration: 461ms;
    animation-delay: 19ms;
}

.animate-bars div:nth-child(13) {
    animation-duration: 655ms;
    animation-delay: 434ms;
}

.animate-bars div:nth-child(14) {
    animation-duration: 993ms;
    animation-delay: 66ms;
}

.animate-bars div:nth-child(15) {
    animation-duration: 463ms;
    animation-delay: 422ms;
}

.animate-bars div:nth-child(16) {
    animation-duration: 944ms;
    animation-delay: 213ms;
}

.animate-bars div:nth-child(17) {
    animation-duration: 922ms;
    animation-delay: 370ms;
}

.animate-bars div:nth-child(18) {
    animation-duration: 835ms;
    animation-delay: 372ms;
}

.animate-bars div:nth-child(19) {
    animation-duration: 985ms;
    animation-delay: 404ms;
}

.animate-bars div:nth-child(20) {
    animation-duration: 627ms;
    animation-delay: 423ms;
}

.animate-bars div:nth-child(21) {
    animation-duration: 895ms;
    animation-delay: 124ms;
}

.animate-bars div:nth-child(22) {
    animation-duration: 912ms;
    animation-delay: 425ms;
}

.animate-bars div:nth-child(23) {
    animation-duration: 999ms;
    animation-delay: 350ms;
}

.animate-bars div:nth-child(24) {
    animation-duration: 855ms;
    animation-delay: 329ms;
}

.animate-bars div:nth-child(25) {
    animation-duration: 611ms;
    animation-delay: 415ms;
}

.animate-bars div:nth-child(26) {
    animation-duration: 945ms;
    animation-delay: 466ms;
}

.animate-bars div:nth-child(27) {
    animation-duration: 933ms;
    animation-delay: 223ms;
}

.animate-bars div:nth-child(28) {
    animation-duration: 639ms;
    animation-delay: 389ms;
}

.animate-bars div:nth-child(29) {
    animation-duration: 568ms;
    animation-delay: 225ms;
}

.animate-bars div:nth-child(30) {
    animation-duration: 820ms;
    animation-delay: 239ms;
}

.animate-bars div:nth-child(31) {
    animation-duration: 517ms;
    animation-delay: 170ms;
}

.animate-bars div:nth-child(32) {
    animation-duration: 469ms;
    animation-delay: 396ms;
}

.animate-bars div:nth-child(33) {
    animation-duration: 695ms;
    animation-delay: 431ms;
}

.animate-bars div:nth-child(34) {
    animation-duration: 667ms;
    animation-delay: 63ms;
}

.animate-bars div:nth-child(35) {
    animation-duration: 954ms;
    animation-delay: 298ms;
}

.animate-bars div:nth-child(36) {
    animation-duration: 719ms;
    animation-delay: 413ms;
}

.animate-bars div:nth-child(37) {
    animation-duration: 681ms;
    animation-delay: 386ms;
}

.animate-bars div:nth-child(38) {
    animation-duration: 648ms;
    animation-delay: 21ms;
}

.animate-bars div:nth-child(39) {
    animation-duration: 544ms;
    animation-delay: 268ms;
}

.animate-bars div:nth-child(40) {
    animation-duration: 917ms;
    animation-delay: 367ms;
}

.animate-bars-center div {
    transform-origin: center;
}

@keyframes animate-bar {
    0% {
        transform: scaleY(0);
        opacity: 0.8;
    }

    100% {
        transform: scaleY(100%);
        opacity: 0.8;
    }
}

/* ----- End Radio Live listen block CSS ----- */